
<!-- _includes/concepts.html -->
{% if site.data.concepts %}
<section x-cloak class="py-20 px-4 bg-white text-gray-900'">
  <div class="max-w-lg mx-auto space-y-12 text-center">
    {% for q in site.data.concepts %}
    <div>
      <span class="inline-flex items-center">
        <i class="fa fa-quote-left mr-2 text-gray-500'"></i>
        <span class="italic text-gray-700'">
          {{ q.text }}
        </span>
      </span>
      <div class="mt-4 text-sm text-gray-500'">
        — {{ q.author }}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

